<h1>Nuova Credenziale</h1>

<%= render 'form', credential: @credential %>
<br />
<div class="btn-group" role="group" aria-label="Strumenti">
    <%= link_to 'Credenziali', credentials_path, class: "btn btn-primary" %>
</div>